$breakpoint-sm: 576px; // Small devices (phones)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)

.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 200px;
    list-style: none;
    padding: 10px 20px;
    gap: 10px;

    @media (max-width: $breakpoint-sm) {
        margin: 0 25px;
        padding: 5px;
        gap: 4px;
    }

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        margin: 0 50px;
        padding: 5px;
        gap: 7px;
    }

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        margin: 0 50px;
        padding: 5px;
        gap: 8px;
    }

    .breadcrumb-item a {
        text-decoration: none;
        font-family: "Inter";
        font-weight: 400;
        font-size: 14px;
        color: rgba(92, 104, 116, 1);


        @media (max-width: $breakpoint-sm) {
            font-size: 11px;
        }

        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            font-size: 13px;
        }
    }
}