$breakpoint-sm: 576px; // Small devices (phones)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)

.card {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    position: relative;

    @media (max-width: $breakpoint-sm) {
        flex-direction: column;
        width: 90%;
        margin: 10px;
    }

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        flex-direction: column;
        width: 80%;
        margin: 10px;
    }

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        flex-direction: row;
        width: 80%;
        margin: 10px;
    }


    .index {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        border: 1px solid rgba(225, 228, 230, 1);
        // top: 380px;
        justify-content: center;
        left: -25px;
        top: 30px;

        // @media (max-width: $breakpoint-sm) {
        //     display: none;
        // }

        // @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        //     display: none;
        // }

        // @media (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
        //     display: none;
        // }
    }

    .card-1 {
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        @media (max-width: $breakpoint-sm) {
            gap: 20px;
            padding: 10px;
        }

        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            gap: 30px;
            padding: 15px;
        }

    }

    .card-2 {
        flex: 2;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        line-height: 20px;
        justify-content: center;
        font-family: "Inter";
        font-weight: 400;
        font-size: 14px;
        color: rgba(75, 86, 101, 1);

        @media (max-width: $breakpoint-sm) {
            font-size: 12px;
            line-height: 15px;
        }

        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            font-size: 13px;
        }

        .card2-head {
            font-weight: 700;
        }

        .card2-main {
            margin: 10px;
            font-weight: 700;

            .main-high {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                font-weight: 400;
                background-color: rgba(255, 244, 237, 1);
                padding: 10px;
                border-radius: 12px;
                width: 300px;
                gap: 4px;

                .hls {
                    display: flex;
                    flex-direction: row;
                    font-weight: 400;
                    gap: 10px;


                    .short-btn {
                        background-color: white;
                        border-radius: 4px;
                        padding: 0 4px;
                        color: rgba(27, 136, 244, 1);
                    }
                }
            }

            .loveit {
                display: flex;
                flex-direction: column;

                .check {
                    display: flex;
                    flex-direction: row;
                    // align-items: center;
                    // justify-content: center;
                    gap: 10px;
                }
            }


        }

        .card2-get {
            margin-left: 10px;
        }

        button {
            display: flex;
            align-items: center;
            background: transparent;
            border: none;
            color: rgba(27, 136, 244, 1);
            font-family: "Inter";
            font-size: 16px;
            margin-top: 15px;
            cursor: pointer;
        }
    }

    .card-3 {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 80px;

        @media (max-width: $breakpoint-sm) {
            flex-direction: row;
            align-items: center;
            gap: 30px;
            margin: 10px;
        }

        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            flex-direction: row;
            justify-content: space-between; 
            align-items: center;
        }

        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
            flex-direction: column;
            // gap: 30px;
            align-items: center;
            justify-content: center;
        }

        .ratings {
            margin: 0 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 5px;
            background-color: rgba(243, 249, 255, 1);
            border-radius: 0 0 12px 12px;

            @media (max-width: $breakpoint-sm) {
                flex-direction: row;
                margin: 0;
                padding: 5px;
                font-size: 12px;
                gap: 5px;
                border-radius: 12px;
            }

            @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
                flex-direction: row;
                justify-content: space-between;
                padding: 5px;
                margin: 0;
                font-size: 12px;
                border-radius: 12px;
            }

        }

        button {
            background-color: rgba(27, 136, 244, 1);
            border: none;
            border-radius: 12px;
            height: 45px;
            color: white;
            font-family: "Inter";
            font-size: 16px;
            cursor: pointer;

            @media (max-width: $breakpoint-sm) {
                width: 80px;
                font-size: 14px;
                height: 40px;
            }

            @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
                width: 100px;
            }

            @media (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
                width: 100px;
            }
        }
    }
}