.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: rgba(33, 39, 49, 1);
    height: 64px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;

    .inputBox {
        width: 258px;
        height: 37px;
        border-radius: 8px;
        outline: none;
        border: 1px solid rgba(225, 228, 230, 1);
        text-align: center;
    }

    .input-container svg{
        position: absolute;
        top: 20px;
        left: 375px;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        gap: 30px;
        color: rgba(209, 214, 218, 1);
        font-size: 14px;
    }
}