$breakpoint-sm: 576px; // Small devices (phones)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: rgba(33, 39, 49, 1);
    height: 64px;
    width: 100vw;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;


    .inputBox {
        width: 258px;
        height: 37px;
        border-radius: 8px;
        outline: none;
        border: 1px solid rgba(225, 228, 230, 1);
        text-align: center;

        @media (max-width: $breakpoint-sm) {
            display: none;
        }

        @media (max-width: $breakpoint-md) {
            width: 150px;
            align-items: center;
            justify-content: center;
        }

    }

    .input-container svg {
        position: sticky;
        top: 20px;
        left: 385px;

        @media (max-width: $breakpoint-sm) {
            display: none;
        }
        @media (max-width: $breakpoint-md) {
            position: sticky;
            top: 20px;
            left: 100px;

        }
    }

    .links {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        gap: 30px;
        color: rgba(209, 214, 218, 1);
        font-size: 14px;

        @media (max-width: $breakpoint-sm) {
            font-size: 13px;
            align-items: center;
            justify-content: space-between;
            text-align: center;
        }

    }
}